/* Pointers */
span.selected {
  font-weight: bold;
  color: red;
}

span.C:hover {
  cursor: pointer;
}

span.F:hover {
  cursor: pointer;
}

span.MpH:hover {
  cursor: pointer;
}

span.mps:hover {
  cursor: pointer;
}

/* Sol Divs */
body {
  background-color: #2c2626;
  overflow: -moz-scrollbars-none;
  overflow: hidden;
  color: #FFF;
  font-family: 'Space Mono', monospace;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

h2 {
  font-size: xx-large;
}

li {
  font-size: large;
}

.sol-div {
  width: 100vw;
  min-height: 101vh;
  overflow: hidden;
  margin-top: -9px;
  margin-left: -10px;
}

.sol-div h2 {
  text-align: left;
  display: inline-flex;
  margin-left: 1vw;
}

.sol-div ul {
  list-style: none;
  display: block;
  margin-top: 63vh;
  margin-right: 1vw;
  text-align: right;
  overflow: hidden;
}

.sol-div li {
  font-size: xx-large;
}

.sol-div a {
  font-size: xx-large;
  text-decoration: none;
  padding: 0 20px 0 20px;
  display:inline-flex;
  margin-right: 4vw;
  bottom: 10vh;
}

.sol-div a:hover {
  cursor: pointer;
}
